<h2><%= @universe.name %></h2>
<p>
  <%= @universe.description %>
</p>

<%= link_to 'Meet Creatures', edit_universe_path(@universe) %>

<%= link_to 'Edit', edit_universe_path(@universe) %> | 
<%= link_to 'Delete', @universe, method: :delete, data: { confirm: 'For real?' } %>