<h2>Welcome, <%= @traveler.name %>!</h2>
<p>
  Username: <%= @traveler.username %>
</p>

<p><%= link_to 'Go to Multiverse', universes_path %></p>

<%= link_to "Sign Out", :signout%>
<%= link_to 'Edit Profile', edit_traveler(@traveler) %> | 
<%= link_to 'Delete Account', @traveler, method: :delete, data: { confirm: 'For real?' } %>