<h2>Welcome, <%= @traveler.name %>!</h2>
<p>
  Username: <%= @traveler.username %>
</p>

<p><%= link_to 'Go to Multiverse', universes_path %></p>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Sign Out'>
<% end %>
<br>
<%= link_to 'Edit Profile', edit_traveler_path(@traveler) %> | 
<%= link_to 'Delete Account', @traveler, method: :delete, data: { confirm: 'For real?' } %>