<h2>Welcome, <%= @traveler.name %>!</h2>
<p>
  Username: <%= @traveler.username %>
</p>

<p><%= link_to 'Meet Creatures', universe_creatures_path(@universe) %></p>

<%= link_to 'Go to Multiverse', universes_path %> | 
<%= link_to 'Edit', edit_traveler_path(@traveler) %> | 
<%= link_to 'Delete', @traveler, method: :delete, data: { confirm: 'For real?' } %>