<head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 

<h1>Universes</h1>

<div><%= link_to 'Create Universe', new_universe_path %></div>
<div><%= link_to 'View Universe with Most Creatures', universes_most_creatures_path %></div>

<br />

<% @universes.each do |universe| %>
    <h3><%= universe.name %></h3>
    <div id="universe-<%= universe.id %>">
    <button class="js-more" data-id="<%= universe.id %>">Learn More</button>
    </div>
    <br />
<% end %>