<h2><%= @universe.name %></h2>
<p>
  <%= @universe.description %>
</p>

<div id="creatures-list">
<button class="meet-creatures" data-id="<%= @universe.id %>">Meet Creatures</button>

</div>
<br>

<%= link_to 'Back to Multiverse', universes_path %> | 
<%= link_to 'Edit', edit_universe_path(@universe) %> | 
<%= link_to 'Delete', @universe, method: :delete, data: { confirm: 'For real?' } %>