<h2>Welcome to Legendary Creatures!</h2>
<p><%= @error unless !@error%></p>

<h3><%= link_to "Explore Multiverse", :universes%></h3>

<%= link_to "Sign Up", :new_traveler%> | 
<%= link_to "Sign In", :signin%> | 
<%= link_to('Sign in with Facebook', '/auth/facebook') %>